/*  main body page */
body {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background: black;
    font-family: sans-serif;
}

/*  video container styler */
.video-container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

/*  video size when playing, 
    currently it uses 100% of the viewport */
.video-container video {
    width: 100%;
    height: 100%;
}

/*  Subtitles styler for future */
.video-container .video .subtitles {
    height:85%;
    text-indent:0;
    font-size:16px;
    font-size:1rem;
    font-weight:bold;
    color:#666;
    background:#000;
    border-radius:2px;
}

/*  Upper back button and bigger name things */
.video-container .upper-controls {
    position: fixed;
    bottom: 0px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    min-height: 20vh;
    background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.9));
    transition: opacity 0.5s linear;
}


/*  End of upper back button and bigger name things */



/*   controls background */
.video-container .controls-container {
    position: fixed;
    bottom: 0px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    min-height: 20vh;
    background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.9));
    transition: opacity 0.5s linear;
}

/*   progress bar things related */
;.video-container .progress-controls {
    width: 95%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    align-content: center;
    align-self: center;
}

.video-container .progress-controls .time-remaining {
    margin: 1vw;
    width: 4vh;
    color: white;
    font-weight: bold;
}

.video-container .progress-controls .progress-bar {
    width: 100%;
    height: 1vw;
    max-height: 7px;
    background: #5B5B5B;
    display: flex;
    align-items: center;
    cursor: pointer;
}

/*  circle for progress bar color & buffered color */
.video-container .progress-controls .progress-bar .watched-bar,
.video-container .progress-controls .progress-bar .playhead {
    background: rgb(216, 93, 144);
    display: inline-block;
    transition: all 0.2s;
}

.video-container .progress-controls .progress-bar .watched-bar {
    height: 130%;
    width: 0%;
}

.video-container .progress-controls .progress-bar .playhead {
    height: 1.4vw;
    width: 1.4vw;
    max-height: 30px;
    max-width: 30px;
    border-radius: 50%;
    border-style: hidden;
    transform: translateX(-50%);
}

/*  background for the controls */
.video-container .controls {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;    
}

/*  buttons placement and size */
.video-container .controls button {
    background: none;
    outline: none;
    box-shadow: none;
    border: none;
    width: 4vw;
    height: 4vw;
    min-width: 20px;
    min-height: 20px;
    margin: 0px 0.5vw;
    opacity: 0.7;
    transform: scale(0.8);
    transition: all 0.2s ease-in-out;
    cursor: pointer;
}

.video-container .controls button:hover {
    opacity: 1;
    transform: scale(1.2);
}


/*  buttons styling and colour */
.video-container .controls button svg {
    fill: white;
    stroke: white;
    stroke-width: 2;
    stroke-linecap: round;
    stroke-linejoin: round;
    width: 100%;
    height: 100%;
}

/*  remove the fill for the help button */
.video-container .controls button.help svg, .controls button.episodes svg, .controls button.cast svg {
    fill: none;
}

/*  rotate the subtitle icon */
.video-container .controls button.subtitles svg {
    transform: rotateY(180deg);
}

/*  font type and general size for the title */
.video-container .controls .title {
    font-size: 1vw;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    
}

@media only screen and (max-width: 768px) {
    .video-container .controls .title {
        display: none;
    }
}

/*  title 1 size and boldness */
/*  ITS THE MAIN TITLE/SERIES NAME & CHAPTER */
.video-container .controls .title .title1 {
    color: white;
    font-weight: bold;
    font-size: 1em;
}

/*  title 2 size and boldness */
/*  ITS THE SECONDARY TITLE/SERIES EPISODE */
.video-container .controls .title2 {
    color: #a1a1a1;
    font-size: 0.9em;
    padding-left: 1vw;
}